@use "@/shared/styles/variables" as *;

.slider-review__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 12px 0;

    h1 {
        padding: 0;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: $font-size-subtitle;
        color: $title-font-color;
        font-weight: $font-weight-title;

        svg {
            fill: $title-font-color;
        }
    }
}