@use "@/shared/styles/variables" as *;
.header {
    padding-top: 25px;
    padding-bottom: 50px;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;

        .title {
            color: $title-font-color;
            font-weight: $font-weight-title;
            font-size: $font-size-title;
            text-align: center;
        }

        img {
            margin-right: 5px;
        }
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        ul {
            grid-column: 1 / 2;
            justify-self: center;
            background: $button-bg-color;
            width: fit-content;
            border-radius: $border-radius-inputs-form;
            list-style: none;

            li {
                font-weight: $font-weight-subtitle;
                display: inline-block;
                padding: 5px 10px;
                margin-right: 5px;

                a {
                    font-size: $font-size-text-title;
                    color: $title-font-color;
                    transition: $transition-main;

                    &:hover {
                        color: $title-hover-color;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .authButton {
            grid-column: 2 / 3;
            justify-self: end;
        }
    }
}