@use "@/shared/styles/variables" as *;
.header {
    padding-top: 25px;
    padding-bottom: 50px;

    .title {
        color: $title-font-color;
        font-weight: $font-weight-title;
        font-size: $font-size-title;
        text-align: center;
        margin-bottom: 12px;
    }

    .navbar {
        display: flex;
        justify-content: center;

        ul {
            background: $button-bg-color;
            width: fit-content;
            border-radius: $border-radius-inputs-form;
            list-style: none;

            li {
                font-weight: $font-weight-subtitle;
                display: inline-block;
                padding: 5px 10px;
                margin-right: 5px;

                a {
                    font-size: $font-size-text-title;
                    color: $title-font-color;
                    transition: $transition-main;

                    &:hover {
                        color: $title-hover-color;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}