@use "@/shared/styles/variables" as *;

.psychologist-profile {
    position: relative;
    border-left: $border-shadow;
    border-top: $border-shadow;
    backdrop-filter: $backdrop-filter;
    background: $background-div-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 32px;

    &__fio {
        font-size: 2rem;
        font-weight: 600;
        color: $title-font-color;
        margin-bottom: 8px;
        letter-spacing: 0.01em;
    }

    &__article {
        margin-bottom: 12px;
        > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__paragraph {
        line-height: 1.6;
        background: none;
        padding: 0;
        border-radius: 0;
    }
}