@import "/src/styles/variables";

.review {
    display: flex;
    flex-direction: column;
    font-size: $font-size-title;
    width: 305px;
    font-weight: $font-weight-title;
    height: 450px;
    backdrop-filter: $backdrop-filter;
    box-shadow: $box-shadow;
    background: $background-div-color;
    border-left: $border-shadow;
    border-top: $border-shadow;
    border-radius: $border-radius;
    padding: 10px 20px;

    .info {
        display: flex;
        align-items: center;

        h3 {
            font-size: $font-size-subtitle;
            font-weight: $font-weight-subtitle;
            color: $title-font-color;
        }

        span {
            font-size: $font-size-title;
            font-weight: $font-weight-subtitle;
            color: $title-font-color;
            margin-left: auto;
            margin-right: 5px;
        }
    }

    h4 {
        margin-top: auto;
        text-align: center;
    }
}