@use "@/shared/styles/variables" as *;

.row {
    position: relative;

    .input {
        position: relative;
    }
}

.eye {
    position: absolute;
    top: 12px;
    right: 15px;

    svg {
        stroke: $title-font-color;
    }
}

.title {
    font-size: $font-size-text-title;
    font-weight: normal;
    margin-bottom: 7px;
}

.error {
    position: absolute;
    width: 100%;
    color: darkred;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}