@use "@/shared/styles/variables" as *;

.form {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 12px;

    .leftColumn {
        width: auto;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textarea {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 405px;

        button {
            flex-shrink: 0;
            margin-top: 24px;
            height: 56px;

            &:hover {
                background-color: $button-hover-color;
            }
        }
    }
}

.block {
    background: $background-div-color;
    border-radius: $border-radius;
    border-left: $border-shadow;
    border-top:  $border-shadow;
    box-shadow: $box-shadow;
    backdrop-filter: $backdrop-filter;
}

.toast {
    font-size: $font-size-subtitle;

    svg {
        stroke: $title-font-color;
        width: 100px;
    }
}

.textModal {
    width: 650px;

    b {
        font-weight: $font-weight-title;
        color: $title-font-color;
    }
}

.backBtn {
    display: flex;
    align-items: center;
    border: none;
    color: $title-font-color;
    background: transparent;
}

.weekHeader {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.weekButtons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}