@use "@/shared/styles/variables" as *;

.rdp-root {
    --rdp-accent-color: #6E522D !important;
    --rdp-nav_button-height: 28px !important;
    --rdp-nav_button-width: 28px !important;
    --rdp-nav-height: 32px !important;

    .rdp-caption_label {
        text-transform: capitalize;
    }

    .rdp-disabled {
        cursor: auto;
    }
}