@use "@/shared/styles/variables" as *;

.title_block {
    position: relative;
    color: $title-font-color;
    padding: 24px 0 12px 0;
    font-size: $font-size-title;
    font-weight: $font-weight-title;
}