@use "@/shared/styles/variables" as *;

.background {
    margin-top: 50px;
    box-shadow: inset 0 0 40px 0 rgba(231, 192, 148, 0.6);
    background: rgba(231, 192, 148, 0.1);

    .footer {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        height: 300px;

        .important {

            ul {
                li {
                    font-weight: $font-weight-subtitle;
                    padding: 5px 10px;
                    margin-right: 5px;

                    a {
                        font-size: $font-size-text;
                        color: $title-font-color;
                        transition: $transition-main;

                        &:hover {
                            color: $title-hover-color;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        h2 {
            color: $title-font-color;
            margin-bottom: 20px;
        }

        .title {
            color: $title-font-color;
            font-weight: $font-weight-title;
            font-size: $font-size-title;
            text-align: center;
        }
    }
}