@use "@/shared/styles/variables" as *;

.title {
    font-size: $font-size-text-title;
    font-weight: normal;
    margin-bottom: 7px;
}

.error {
    position: absolute;
    width: 100%;
    color: darkred;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}

.row {
    position: relative;

    &:first-child {
        margin-top: 0;
    }
}