@import "/src/utils/variables";

.form {
    display: flex;

    .inputs {
        width: 301px;
        padding: 15px 18px;
        margin-right: 10px;

        .row {
            margin: 32px 0;

            &:first-child {
                margin-top: 0;
            }

            input {
                position: relative;
                box-shadow: $input-box-shadow;
                background: $input-bg-color;
                border: 2px solid $input-bg-color;
                width: 255px;
                height: 42px;
                margin-top: 10px;
                font-size: $font-size-text;
                border-radius: $border-radius-inputs-form;
                padding: 0 15px;
                outline: none;
                transition: $transition-main;

                &:focus {
                    border: 2px solid $title-font-color;
                    background: $input-hover-color;
                }

                &:hover {
                    background: $input-hover-color;
                }
            }
        }
    }

    .textarea {
        position: relative;
        width: calc(100% - 301px);
        padding: 16px 20px;

        textarea {
            position: relative;
            box-shadow: $input-box-shadow;
            background: $input-bg-color;
            border: 2px solid $input-bg-color;
            width: 100%;
            height: 273px;
            border-radius: $border-radius-inputs-form;
            margin-top: 8px;
            resize: none;
            font-size: $font-size-text;
            padding: 15px;
            outline: none;
            transition: $transition-main;

            &:focus {
                border: 2px solid $title-font-color;
                background: $input-hover-color;
            }

            &:hover {
                background: $input-hover-color;
            }

            &::placeholder {
                opacity: 0.4;
            }
        }

        button {
            position: absolute;
            bottom: 16px;
            left: 20px;
            height: 55px;
            width: calc(100% - 40px);

            &:hover {
                background-color: $button-hover-color;
            }
        }
    }

    .active {
        border-bottom: 2px solid $title-font-color;
        transition: all 0.1s ease;
    }
}

h2 {
    font-size: $font-size-text-title;
    font-weight: normal;

    a {
        cursor: pointer;
    }
}

.error {
    position: absolute;
    text-align: center;
    color: darkred;
    font-size: 14px;
    margin-top: 4px;
}