@import "/src/styles/variables";

@font-face {
    font-family: Manrope;
    src: url('/src/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url('/src/fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url('/src/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Manrope", sans-serif;
    font-size: $font-size-text;
    color: $text-font-color;

    input::placeholder {
        opacity: 0.4;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    img {
        max-width: 100%;
    }
}

.container {
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
}

.block {
    height: 450px;
    border-radius: $border-radius;
    background: $background-div-color;
    border-left: $border-shadow;
    border-top: $border-shadow;
    backdrop-filter: $backdrop-filter;
    box-shadow: $box-shadow;
}

.wrapper {
    background-image: url("/public/background.svg");
}

.slick-slide {
    > div {
        margin-right: 20px;
    }
}

.slick-list {
    height: 455px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    background-color: $button-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 1;
    height: 50px;
    width: 50px;
    transition: $transition-main;
}

.slick-arrow.slick-next {
    background-image: url('/public/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: -85px;
}

.slick-arrow.slick-prev {
    background-image: url('/public/chevron-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: -85px;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
    background-color: $button-hover-color;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}