@use "@/shared/styles/variables" as *;

.dialog {
    position: relative;
    z-index: 50;

    .background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $background-modal;
        backdrop-filter: blur(1px);

        .panel {
            display: flex;
            flex-direction: column;
            border-radius: $border-radius;
            background-color: $background-modal-color;
            border-left: $border-shadow;
            border-top: $border-shadow;
            backdrop-filter: $backdrop-filter;
            box-shadow: $box-shadow;
            margin-right: -15px;
            padding: 30px;
            max-width: 90%;
            max-height: 90vh;
            overflow-y: auto;

            .header {
                display: flex;
                margin-bottom: 20px;
                align-items: center;

                .title {
                    font-size: $font-size-subtitle;
                    color: $title-font-color;
                }
            }

            img {
                margin-top: 40px;
                max-height: 750px;
            }

            .svg {
                position: absolute;
                right: 30px;
                top: 30px;
                stroke: $title-font-color;
                fill: $title-font-color;
                cursor: pointer;
                transition: $transition-main;

                &:hover {
                    transform: scale(1.1);
                    stroke: $title-hover-color;
                    fill: $title-hover-color;
                }
            }
        }
    }
}