@use "@/shared/styles/variables" as *;

.textarea {
    box-shadow: $input-box-shadow;
    background: $input-bg-color;
    border: 2px solid $input-bg-color;
    border-radius: $border-radius-inputs-form;
    margin-top: 8px;
    height: 100%;
    font-size: $font-size-text;
    padding: 15px;
    transition: $transition-main;
    outline: none;

    &:focus {
        border: 2px solid $title-font-color;
        background: $input-hover-color;
    }

    &:hover {
        background: $input-hover-color;
    }

    &::placeholder {
        opacity: 0.4;
    }
}

.title {
    font-size: $font-size-text-title;
    font-weight: normal;
}

.error {
    position: absolute;
    width: 100%;
    color: darkred;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}